---
import { EnvelopeClosedIcon, FileTextIcon, CheckCircledIcon } from "@radix-ui/react-icons";
import { Button } from "@atoms/button";
import "@fontsource-variable/space-grotesk";
import LinkButton from "@astro/LinkButton.astro";
---

<section class="grid h-[92vh] place-content-center place-items-center gap-4 text-center">
  <div class="relative flex w-full justify-center items-center">
    <img
      src="leo1.webp"
      alt="Leonardo Palomino"
      class="size-44 md:size-56 rounded-full object-cover border-4 border-black transition duration-500 hover:scale-105"
      loading="eager"
    />
  </div>
  <div class="flex flex-col">
    <h1 class="text-4xl font-bold md:text-4xl group cursor-crosshair font-space">
      Hola, me llamo <br />
      <span class="transition duration-300 ease-in-out group-hover:text-blue-600"
        >Leonardo Palomino</span
      >
    </h1>
    <p class="my-4 font-varela">Desarrollador de aplicaciones web y móvil. Lima, Peru.</p>
    <section class="mx-auto flex flex-col gap-2 sm:flex-row">
      <a
        href="https://wa.me/51976783049"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
      >
        <EnvelopeClosedIcon className="mr-2" /> Contactar
      </a>
      <LinkButton link="/CV_AITORPALOMINO.pdf" variant={"primary"} text="Ver CV" position="left">
        <FileTextIcon />
      </LinkButton>
    </section>
  </div>
</section>
