---
import SubtitleSection from "@astro/SubtitleSection.astro";
---

<SubtitleSection title="Educacion" />

<section class="md:mx-auto md:max-w-xl p-2">
  <div class="flex flex-col gap-6">
    <div class="flex gap-x-3">
      <div class="relative after:absolute after:bottom-0 after:start-3.5 after:top-7 after:w-px after:-translate-x-[0.5px] after:bg-gray-300 last:after:hidden dark:after:bg-neutral-700">
        <div class="relative z-10 flex size-7 items-center justify-center">
          <div class="size-2 rounded-full bg-neutral-600"></div>
        </div>
      </div>
      <div class="grow text-wrap py-4">
        <h3 class="flex items-center gap-x-1.5 font-semibold text-white">
          Ingeniería de Computación y Sistemas - Universidad San Martín de Porres
        </h3>
        <p class="mt-1 max-w-lg text-sm text-neutral-400">
          Estudiante de Ingeniería de Computación y Sistemas.
        </p>
      </div>
    </div>

    <div class="flex gap-x-3">
      <div class="relative after:absolute after:bottom-0 after:start-3.5 after:top-7 after:w-px after:-translate-x-[0.5px] after:bg-gray-300 last:after:hidden dark:after:bg-neutral-700">
        <div class="relative z-10 flex size-7 items-center justify-center">
          <div class="size-2 rounded-full bg-neutral-600"></div>
        </div>
      </div>
      <div class="grow text-wrap py-4">
        <h3 class="flex items-center gap-x-1.5 font-semibold text-white">
          Idiomas - Instituto Británico
        </h3>
        <p class="mt-1 max-w-lg text-sm text-neutral-400">
          Estudios de idioma inglés.
        </p>
      </div>
    </div>


  </div>
</section>
